{% extends "base.html" %}
    {% comment %} <h1>Se creo el alumno {{alumno}} correctamente...</h1> {% endcomment %}

    {% block header %}
    <h1>Crear Alumno</h1>
    {% endblock header %}

    {% block main %}
    

    <form action={% url "crear_alumno" %} method="POST">
        {% csrf_token %}
        {% comment %} v1 {% endcomment %}
        {% comment %} <p>
            Nombre
            <input type="text" name="nombre">
        </p>
        <p>
            Apellido
            <input type="text" name="apellido">
        </p>
        <p>
            Edad
            <input type="number" name="edad">
        </p> {% endcomment %}
        <table>
            {{formulario.media}}
            {{formulario}}
        </table>
        
        <input type="submit" value="Crear Alumno">
    </form>
    {% endblock main %}